BasedOnStyle: Microsoft

AccessModifierOffset: -4
AllowShortFunctionsOnASingleLine: Inline
AllowShortBlocksOnASingleLine: Always
AllowShortEnumsOnASingleLine: true
IndentExternBlock: NoIndent
AlwaysBreakTemplateDeclarations: Yes
